/* Base Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Container Setup (Fixed widths) */
header,
.nav-bar,
.content,
.card_section,
footer {
  width: 960px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #0077cc;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Navigation */
.nav-bar {
  background-color: #c0d3ea;
}

.nav-bar ul {
  list-style-type: none;
  padding: 1.2em;
}

.nav-bar li {
  display: inline-block;
  margin-right: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* Content Section */
.content {
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}

.card_section h3 {
  margin: 15px;
}

.card_container {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 300px;
}

.img_container img {
  display: block;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

main {
  width: 760px;
  padding: 20px;
  background-color: #fafafa;
}

main img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

/* Footer */
footer {
  text-align: center;
  background-color: #c0d3ea;
  padding: 10px;
  margin-top: 20px;
}
